#*_pb2.py
*.py-E
bindings-python.iml
__pycache__/
dist/
*.DS_Store
build/
docs/**
!docs/.nojekyll
docs_temp/
wheelhouse/
opendp/whitenoise/core/lib/

opendp/_native*
opendp_whitenoise_core.egg-info
.eggs/
scripts/reformat_json.py
#opendp/whitenoise/core/components.py
#opendp/whitenoise/core/variant_message_map.py

scripts/debug_build.log
scripts/debug_app.log
scripts/debug_tests.log
opendp_whitenoise_core_demo.egg-info/
opendp_whitenoise_core_python.egg-info/

.idea/