#*_pb2.py
*.py-E
bindings-python.iml
__pycache__/
dist/
*.DS_Store
build/
docs/**
!docs/.nojekyll
docs_temp/
wheelhouse/
opendp/smartnoise/core/lib/
tmp_binaries/
smartnoise_ffi.dll

opendp/_native*
opendp_smartnoise_core.egg-info
.eggs/
scripts/reformat_json.py
#opendp/smartnoise/core/components.py
#opendp/smartnoise/core/variant_message_map.py

scripts/debug_build.log
scripts/debug_app.log
scripts/debug_tests.log
opendp_smartnoise_core_demo.egg-info/
opendp_smartnoise_core_python.egg-info/

.idea/